html {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    height: 64px;
    line-height: 64px;
    margin-bottom: 0;
    padding-bottom: 0;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    height: 64px;
    line-height: 64px;
}

nav .button-collapse i {
    height: 64px;
    line-height: 64px;
}

nav .brand-logo {
    font-size: 4rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.contactLinkList li {
    display: inline-block;
    padding: 5px;
}

.promo i {
    margin: 40px 0;
    color: #FC4C02;
    font-size: 6rem;
    display: block;
}

.loginButton {
    padding-top: 25vh;
    margin: 0 auto;
}

button#at-strava.at-social-btn{
    width: 100px;
}

#banner {
    margin-top: 10vh;
    background: white;
    padding-left: 15px;
    padding-right: 25px;
}

.secondary-content {
    color: #FC4C02;
}

.circle {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

#leaderboard {
    margin-top: 5vh;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

input[type="search"] {
    background-color: #0288D1;
    height: 64px !important;
    /* or height of nav */
}

.dark-primary-color {
    background: #0288D1;
}

.default-primary-color {
    background: #03A9F4;
}

.light-primary-color {
    background: #B3E5FC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #E040FB;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}