body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('/images/background.jpg');
}
main {
    margin-top: 15vh;
    flex: 1 0 auto;
}

nav ul li a{
    color: black;
}

li img {
    margin-right: 10px;
}

#urlInput {
    padding-top: 25px;
    text-align: center;
}

.at-social-btn {
    background-color: #FC4C02;
    width: 50px;
}

.contactLinkList li {
    display: inline;
    padding-left: 5px;
}

.collection {
    border: none;
}

.promo i {
    margin: 40px 0;
    color: #FC4C02;
    font-size: 6rem;
    display: block;
}

.loginButton {
    margin: 0 auto;
    width: 200px;
    padding-top: 25vh;
}

#banner {
    background: white;
    padding-left: 15px;
    padding-right: 25px;
}

.secondary-content {
    color: #FC4C02;
}

.circle {
    height: 45px;
    width: 45px;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus {
    background-color: black;
}

#leaderboard {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

input[type="text"] {
    background-color: white;
    text-align: center;
}

input[type="text"]:focus {
    background-color: turquoise;
    opacity: 5;
    text-align: center;
}

#loadingBar {
    margin-top: 5vh;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {

    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
}





